body {
    background-color: #f8f9fa;
}

.about-section {
    padding: 60px 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
}

.about-section p {
    font-size: 1.1rem;
    color: #6c757d;
    padding: 0 20px;
}

.about-section ul {
    list-style-type: none;
    padding: 0;
}

.about-section ul li {
    font-size: 1.1rem;
    color: #6c757d;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9rem; /* Font leggermente più piccolo */
}
